{% extends "layout.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
  <link rel="stylesheet" href="{% static "styles.css" %}">
{% endblock css %}
{% block title %}
  All Challenges
{% endblock title %}
{% block content %}
  {% include "challenges/includes/header.html" %}
  <ul>
    {% for month in months %}
      <li>
        <a href="{% url "month-challenge" month %}">{{ month | title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
